ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;

}
ion-item{
    --padding-bottom: 10px;
}

ion-card {
  border-radius: 15%;


  box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;

}

